.VoiceMessagePlayer-root {
  --primary-color: #1992d4;
  --secondary-color: #7a8998;

  display: flex;
  gap: 8px;
  font-size: 12px;

  .VoiceMessagePlayer-playButton {
    flex: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    background: var(--primary-color);
    border: none;
    padding: 8px;
    cursor: pointer;

    & > svg {
      fill: currentColor;
    }
  }

  .VoiceMessagePlayer-content {
    min-width: 0;
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
  }

  .VoiceMessagePlayer-peaks {
    display: block;
    width: 100%;
    height: 16px;

    & .VoiceMessagePlayer-peaks-bg {
      fill: var(--secondary-color);
    }

    & .VoiceMessagePlayer-peaks-progress {
      fill: var(--primary-color);
    }
  }
}
