.VoicemailPlayer-root {
  --primary-color: #1992d4;
  --secondary-color: #7a8998;
  --disabled-color: #a8aaaa;

  display: flex;
  gap: 8px;
  font-size: 12px;
}

.VoicemailPlayer-root .VoicemailPlayer-playButton {
  flex: none;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  color: #fff;
  background: var(--primary-color);
  border: none;
  padding: 8px;
  cursor: pointer;
}

.VoicemailPlayer-root
  .VoicemailPlayer-playButton
  .VoicemailPlayer-playButton-icon {
  fill: currentColor;
}

.VoicemailPlayer-root--empty .VoicemailPlayer-playButton,
.VoicemailPlayer-root--error .VoicemailPlayer-playButton {
  cursor: not-allowed;
  background: var(--disabled-color);
}

.VoicemailPlayer-root--loading .VoicemailPlayer-playButton {
  cursor: wait;
}

.VoicemailPlayer-root .VoicemailPlayer-content {
  min-width: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.VoicemailPlayer-root .VoicemailPlayer-peaks {
  display: block;
  width: 100%;
  height: 18px;
  cursor: pointer;
}

.VoicemailPlayer-root .VoicemailPlayer-peaks:active {
  cursor: grabbing;
}

.VoicemailPlayer-root .VoicemailPlayer-peaks .VoicemailPlayer-peaks-bg {
  fill: var(--secondary-color);
}

.VoicemailPlayer-root--empty .VoicemailPlayer-peaks .VoicemailPlayer-peaks-bg,
.VoicemailPlayer-root--error .VoicemailPlayer-peaks .VoicemailPlayer-peaks-bg {
  fill: var(--disabled-color);
}

.VoicemailPlayer-root .VoicemailPlayer-peaks .VoicemailPlayer-peaks-progress {
  fill: var(--primary-color);
}
